/* Main Containers */
.game-window {
  height: 100%;
  width: 100%;
  background-image: url('images/menu_background.jpg');
  background-size:100% 100%;
}
#actualGame{
  z-index: 1;
}

#menu-background {
  height: 100%;
  width: 100%;
}

body {

}

.single-player-btn {
  background-color: white;
  color: blue;
  font-weight: bold;
  font-size: 1.6vw;
  margin:0 auto;
  display:block;
  position: absolute;
  top: 39%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20%;
  border-radius: 12px;
  margin-top: 5vw;
  z-index: 1;
}

.multiplayer-btn {
  top: 44%;
  margin-top: 9vw;
}

.title {
  font-size: 7vw;
  color: white;
  text-align: center;
  position: absolute;
  top: 28%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

#place_items_title {
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#timer {
  color: red;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  font-size: 4vw;
}

.tile {
  height: 20%;
  width: 20%;
  border: solid;
  border-width: thin;
}

.user_tile {
  
}

.select-legend {
  border: solid;
  width: 8%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 1%;
}

.board {
  height: 31vw;
  width: 31vw;
  border: solid;
  position: absolute;
  top: 23%;
  display: flex;
  flex-wrap: wrap;
}

#opponentBoard {
  left: 55%;
}

#userBoard {
  left: 15%;
}

.present {
  width: 6vw;
  height: 6vw;
}

.highlight {
    border: 1px solid yellow;
    background-color: yellow;
}

